src/cache/*
!src/cache/index.html

src/data/*
!src/data/index.html

src/sessions/*
!src/sessions/index.html

#.idea/dictionaries/*
!.idea/dictionaries/global.xml

.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml

phpdoc/
phpdoc-cache/

temp
