<div id="openestate_header"><h1>{PAGE_TITLE}</h1></div>
<div id="openestate_expose">
  <div id="openestate_expose_menu_top">{EXPOSE_MENU}</div>
  <div id="openestate_expose_header">
    {IMAGE.}<div id="openestate_expose_header_image">{IMAGE}</div>{.IMAGE}
    <h2>{TITLE}</h2>
    <ul>
      <li><div>{ID_TITLE}:</div>{ID_VALUE}</li>
      <li><div>{TYPE_TITLE}:</div>{TYPE_VALUE}</li>
      <li><div>{ACTION_TITLE}:</div>{ACTION_VALUE}</li>
      <li><div>{ADDRESS_TITLE}:</div>{ADDRESS_VALUE}</li>
      {ADDRESS2_VALUE.}<li><div></div>{ADDRESS2_VALUE}</li>{.ADDRESS2_VALUE}
      {REGION_VALUE.}<li><div>{REGION_TITLE}:</div>{REGION_VALUE}</li>{.REGION_VALUE}
      {ATTRIBUTE_VALUE.}<li><div>{ATTRIBUTE_TITLE}:</div>{ATTRIBUTE_VALUE}</li>{.ATTRIBUTE_VALUE}
    </ul>
  </div>
  <div id="openestate_expose_view">
    {VIEW_MENU.}<div id="openestate_expose_view_menu">{VIEW_MENU}</div>{.VIEW_MENU}
    <div id="openestate_expose_view_content">{VIEW_CONTENT}</div>
  </div>
  <div id="openestate_expose_menu_bottom">{EXPOSE_MENU}</div>
  <div id="openestate_expose_footer">
  </div>
</div>