<div id="openestate_expose_contact">
  {CONTACT_PERSON.}<div id="openestate_expose_contact_person">
  <h3>{CONTACT_PERSON}</h3>
  <ul>
    <li><div>{CONTACT_NAME_TITLE}:</div>{CONTACT_NAME_VALUE}</li>
    <li><div>{CONTACT_ADDRESS_TITLE}:</div>{CONTACT_ADDRESS_VALUE}</li>
    {CONTACT_ADDRESS_VALUE2.}<li><div></div>{CONTACT_ADDRESS_VALUE2}</li>{.CONTACT_ADDRESS_VALUE2}
    {CONTACT_PHONE_VALUE.}<li><div>{CONTACT_PHONE_TITLE}:</div>{CONTACT_PHONE_VALUE}</li>{.CONTACT_PHONE_VALUE}
    {CONTACT_MOBILE_VALUE.}<li><div>{CONTACT_MOBILE_TITLE}:</div>{CONTACT_MOBILE_VALUE}</li>{.CONTACT_MOBILE_VALUE}
    {CONTACT_FAX_VALUE.}<li><div>{CONTACT_FAX_TITLE}:</div>{CONTACT_FAX_VALUE}</li>{.CONTACT_FAX_VALUE}
  </ul></div>{.CONTACT_PERSON}

  {CONTACT_FORM_TITLE.}<h3>{CONTACT_FORM_TITLE}</h3>{.CONTACT_FORM_TITLE}
  <a name="form"></a>
  {CONTACT_RESULT.}<div id="openestate_expose_contact_result">
    <h3>{CONTACT_RESULT_TITLE}</h3>
    {CONTACT_RESULT}
  </div>{.CONTACT_RESULT}

  {CONTACT_FORM_SUBMIT.}
  <form action="expose.php#form" method="post" id="openestate_expose_contact_form">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td class="col1{CONTACT_FORM_NAME_ERROR}">
          <label for="openestate_expose_contact_form_name">{CONTACT_FORM_NAME}</label>
        </td>
        <td class="col2{CONTACT_FORM_NAME_ERROR}" colspan="3">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[name]" id="openestate_expose_contact_form_name" class="field" maxlength="100" value="{CONTACT_FORM_NAME_VALUE}"/>
        </td>
      </tr>
      <tr>
        <td class="col1{CONTACT_FORM_FIRSTNAME_ERROR}">
          <label for="openestate_expose_contact_form_firstname">{CONTACT_FORM_FIRSTNAME}</label>
        </td>
        <td class="col2{CONTACT_FORM_FIRSTNAME_ERROR}" colspan="3">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[firstname]" id="openestate_expose_contact_form_firstname" class="field" maxlength="100" value="{CONTACT_FORM_FIRSTNAME_VALUE}"/>
        </td>
      </tr>
      <tr>
        <td class="col1{CONTACT_FORM_EMAIL_ERROR}">
          <label for="openestate_expose_contact_form_email">{CONTACT_FORM_EMAIL}</label>
        </td>
        <td class="col2{CONTACT_FORM_EMAIL_ERROR}" colspan="3">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[email]" id="openestate_expose_contact_form_email" class="field" maxlength="150" value="{CONTACT_FORM_EMAIL_VALUE}"/>
        </td>
      </tr>
      <tr>
        <td class="col1{CONTACT_FORM_PHONE_ERROR}">
          <label for="openestate_expose_contact_form_phone">{CONTACT_FORM_PHONE}</label>
        </td>
        <td class="col2{CONTACT_FORM_PHONE_ERROR}" colspan="3">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[phone]" id="openestate_expose_contact_form_phone" class="field" maxlength="50" value="{CONTACT_FORM_PHONE_VALUE}"/>
        </td>
      </tr>
      <tr>
        <td class="col1{CONTACT_FORM_STREET_ERROR}">
          <label for="openestate_expose_contact_form_street">{CONTACT_FORM_STREET}</label>
        </td>
        <td class="col2{CONTACT_FORM_STREET_ERROR}">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[street]" id="openestate_expose_contact_form_street" class="field" maxlength="100" value="{CONTACT_FORM_STREET_VALUE}"/>
        </td>
        <td class="col3{CONTACT_FORM_STREETNR_ERROR}">
          <label for="openestate_expose_contact_form_streetnr">{CONTACT_FORM_STREETNR}</label>
        </td>
        <td class="col4{CONTACT_FORM_STREETNR_ERROR}">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[streetnr]" id="openestate_expose_contact_form_streetnr" class="field" maxlength="10" value="{CONTACT_FORM_STREETNR_VALUE}"/>
        </td>
      </tr>
      <tr>
        <td class="col1{CONTACT_FORM_CITY_ERROR}">
          <label for="openestate_expose_contact_form_city">{CONTACT_FORM_CITY}</label>
        </td>
        <td class="col2{CONTACT_FORM_CITY_ERROR}">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[city]" id="openestate_expose_contact_form_city" class="field" maxlength="100" value="{CONTACT_FORM_CITY_VALUE}"/>
        </td>
        <td class="col3{CONTACT_FORM_POSTAL_ERROR}">
          <label for="openestate_expose_contact_form_postal">{CONTACT_FORM_POSTAL}</label>
        </td>
        <td class="col4{CONTACT_FORM_POSTAL_ERROR}">
          <input type="text" name="{PARAM_EXPOSE_CONTACT}[postal]" id="openestate_expose_contact_form_postal" class="field" maxlength="10" value="{CONTACT_FORM_POSTAL_VALUE}"/>
        </td>
      </tr>
      <tr>
        <td class="col1{CONTACT_FORM_MESSAGE_ERROR}">
          <label for="openestate_expose_contact_form_message">{CONTACT_FORM_MESSAGE}</label>
        </td>
        <td class="col2{CONTACT_FORM_MESSAGE_ERROR}" colspan="3">
          <textarea name="{PARAM_EXPOSE_CONTACT}[message]" id="openestate_expose_contact_form_message" class="field" rows="5" cols="30">{CONTACT_FORM_MESSAGE_VALUE}</textarea>
        </td>
      </tr>
      {CONTACT_FORM_CAPTCHA.}
      <tr>
        <td class="col1{CONTACT_FORM_CAPTCHA_ERROR}">
          <label for="openestate_expose_contact_form_captcha"><img src="img/required.png" alt="" title="" border="0" />&nbsp;{CONTACT_FORM_CAPTCHA}</label>
        </td>
        <td class="col2{CONTACT_FORM_CAPTCHA_ERROR}" colspan="3">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td id="openestate_expose_contact_form_captcha_col1">
<img src="captcha.php" alt="" id="openestate_captcha_img" /><br/>
<script type="text/javascript">
<!--
function refresh_captcha()
{
  document.getElementById('openestate_captcha_img').src='captcha.php?time='+new Date().getTime();
  return false;
}
document.write( '&nbsp;<a href="#" onclick="return refresh_captcha();">{CONTACT_FORM_CAPTCHA_REFRESH}</a>' );
-->
</script>
              </td>
              <td id="openestate_expose_contact_form_captcha_col2">
                <input type="text" name="{PARAM_EXPOSE_CAPTCHA}" id="openestate_expose_contact_form_captcha" maxlength="10" value="{CONTACT_FORM_CAPTCHA_VALUE}" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      {.CONTACT_FORM_CAPTCHA}
      {CONTACT_FORM_TERMS.}
      <tr>
        <td class="col1{CONTACT_FORM_TERMS_ERROR}">&nbsp;</td>
        <td class="col2{CONTACT_FORM_TERMS_ERROR}" colspan="3">
          <br/>
          <input name="{PARAM_EXPOSE_CONTACT}[terms]" id="openestate_expose_contact_form_terms" type="checkbox" value="1" class="box" {CONTACT_FORM_TERMS_ATTRIBS} />
          <label for="openestate_expose_contact_form_terms" style="display:inline; width:0; margin:0;">
            <img src="img/required.png" alt="" title="" border="0"/>
            {CONTACT_FORM_TERMS}
        	</label><br/>
          <textarea id="openestate_expose_contact_form_terms_area" class="field" rows="5" cols="30" readonly="readonly">{CONTACT_FORM_TERMS_TEXT}</textarea>
        </td>
      </tr>
      {.CONTACT_FORM_TERMS}
      <tr>
        <td colspan="4" class="buttons">
          <input type="submit" class="button" value="{CONTACT_FORM_SUBMIT}" />
          <input type="hidden" name="{PARAM_EXPOSE_ID}" value="{ID}"/>
          <input type="hidden" name="{PARAM_EXPOSE_VIEW}" value="contact"/>
          <input type="hidden" name="{PARAM_LANG}" value="{LANGUAGE_CODE}" />
          <input type="hidden" name="{PARAM_CAT}" value="{CATEGORY}" />
        </td>
      </tr>
    </table>{.CONTACT_FORM_SUBMIT}
  </form>
  <div>&nbsp;</div>
</div>