{IMAGE.}<div class="openestate_listing_image {BG}">
  <div class="image"><a href="expose.php?{PARAM_EXPOSE_ID}={ID}{DEFAULT_LINK_PARAMS}"><img src="{IMAGE}" alt="" border="0"/></a></div>
  <div class="info_box">
    <h2><a href="expose.php?{PARAM_EXPOSE_ID}={ID}{DEFAULT_LINK_PARAMS}">{TITLE}</a></h2>
    <div class="col_1">
      <ul>
        <li>{TYPE} / {ACTION}</li>
        <li>{POSTAL} {CITY}</li>
        {COUNTRY.}<li>{COUNTRY}</li>{.COUNTRY}
        {MEASURES_1.}<li>{MEASURES_1_TITLE}: {MEASURES_1}</li>{.MEASURES_1}
        {MEASURES_2.}<li>{MEASURES_2_TITLE}: {MEASURES_2}</li>{.MEASURES_2}
        {PRICES_1.}<li>{PRICES_1_TITLE}: {PRICES_1}</li>{.PRICES_1}
        {PRICES_2.}<li>{PRICES_2_TITLE}: {PRICES_2}</li>{.PRICES_2}
      </ul>
    </div>
    <div class="options">
      <ul>
        {LINK_EXPOSE.}<li><a href="{LINK_EXPOSE}{DEFAULT_LINK_PARAMS}">{LINK_EXPOSE_TEXT}</a></li>{.LINK_EXPOSE}
        {LINK_VIDEOS.}<li><a href="{LINK_VIDEOS}{DEFAULT_LINK_PARAMS}">{LINK_VIDEOS_TEXT}</a></li>{.LINK_VIDEOS}
        {LINK_PDF.}<li><a href="{LINK_PDF}" target="_blank">{LINK_PDF_TEXT}</a></li>{.LINK_PDF}
        {LINK_FAV.}<li><a href="{LINK_FAV}{DEFAULT_LINK_PARAMS}" rel="nofollow">{LINK_FAV_TEXT}</a></li>{.LINK_FAV}
        {LINK_CONTACT.}<li><a href="{LINK_CONTACT}{DEFAULT_LINK_PARAMS}">{LINK_CONTACT_TEXT}</a></li>{.LINK_CONTACT}
      </ul>
    </div>
  </div>
  <div class="openestate_clear"></div>
</div>{.IMAGE}