
.openestate-icon-fav:before { content: '\e800'; } /* '' */
.openestate-icon-attention:before { content: '\e801'; } /* '' */
.openestate-icon-cancel:before { content: '\e802'; } /* '' */
.openestate-icon-search:before { content: '\e803'; } /* '' */
.openestate-icon-list-thumb:before { content: '\e804'; } /* '' */
.openestate-icon-language:before { content: '\e805'; } /* '' */
.openestate-icon-expose:before { content: '\e806'; } /* '' */
.openestate-icon-yes:before { content: '\e807'; } /* '' */
.openestate-icon-no:before { content: '\e808'; } /* '' */
.openestate-icon-fav-add:before { content: '\e809'; } /* '' */
.openestate-icon-fav-remove:before { content: '\e80a'; } /* '' */
.openestate-icon-download:before { content: '\e80b'; } /* '' */
.openestate-icon-listing:before { content: '\e80c'; } /* '' */
.openestate-icon-spinner:before { content: '\e839'; } /* '' */
.openestate-icon-left:before { content: '\f0a8'; } /* '' */
.openestate-icon-right:before { content: '\f0a9'; } /* '' */
.openestate-icon-list-detail:before { content: '\f0ca'; } /* '' */
.openestate-icon-sort:before { content: '\f0dc'; } /* '' */
.openestate-icon-success:before { content: '\f118'; } /* '' */
.openestate-icon-problem:before { content: '\f11a'; } /* '' */
.openestate-icon-sort-asc:before { content: '\f162'; } /* '' */
.openestate-icon-sort-desc:before { content: '\f163'; } /* '' */
.openestate-icon-send:before { content: '\f1d9'; } /* '' */